<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.calculatedfun.dao.ThisUserBankMapper" >
<!--   <resultMap id="BaseResultMap" type="com.calculatedfun.dto.UserBank" > -->
<!--     <id column="id" property="id" jdbcType="VARCHAR" /> -->
<!--     <result column="userid" property="userid" jdbcType="VARCHAR" /> -->
<!--     <result column="location" property="location" jdbcType="VARCHAR" /> -->
<!--     <result column="address" property="address" jdbcType="VARCHAR" /> -->
<!--     <result column="bankname" property="bankname" jdbcType="VARCHAR" /> -->
<!--     <result column="remark" property="remark" jdbcType="VARCHAR" /> -->
<!--     <result column="accountid" property="accountid" jdbcType="VARCHAR" /> -->
<!--     <result column="isdefault" property="isdefault" jdbcType="CHAR" /> -->
<!--     <result column="receiver" property="receiver" jdbcType="VARCHAR" /> -->
<!--     <result column="swiftcode" property="swiftcode" jdbcType="VARCHAR" /> -->
<!--     <result column="type" property="type" jdbcType="CHAR" /> -->
<!--     <result column="iban" property="iban" jdbcType="VARCHAR" /> -->
<!--     <result column="delflag" property="delflag" jdbcType="CHAR" /> -->
<!--   </resultMap> -->
  
   <select id="selectUserBankList" resultType="com.calculatedfun.dto.UserBank" parameterType="com.calculatedfun.bean.UserBankSel" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 19 11:57:10 CST 2013.
    -->
    select * from user_bank
    where 1=1
    and delflag = '0' 
    <if test="userid != null and userid != ''">
      and userid =#{userid,jdbcType=VARCHAR}
    </if>
    <if test="location != null and location != ''">
      and location =#{location,jdbcType=VARCHAR}
    </if>
    <if test="address != null and address != ''">
      and address =#{address,jdbcType=VARCHAR}
    </if>
    <if test="bankname != null and bankname != ''">
      and bankname =#{bankname,jdbcType=VARCHAR}
    </if>
    <if test="accountid != null and accountid != ''">
      and accountid =#{accountid,jdbcType=VARCHAR}
    </if>
    <if test="isdefault != null and isdefault != ''">
      and isdefault =#{isdefault,jdbcType=CHAR}
    </if>
    <if test="iban != null and iban != ''">
      and iban =#{iban,jdbcType=VARCHAR}
    </if>
    <if test="receiver != null and receiver != ''">
      and receiver =#{receiver,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type != ''">
      and type =#{type,jdbcType=CHAR}
    </if>
    <if test="sortid != null and sortid != ''">
     order by id
    </if>
    <if test="sortuserid != null and sortuserid != ''">
     order by userid
    </if>
    <if test="sortlocation != null and sortlocation != ''">
     order by location
    </if>
    <if test="sortaddress != null and sortaddress != ''">
     order by address
    </if>
    <if test="sortbankname != null and sortbankname != ''">
     order by bankname
    </if>
    <if test="sortaccountid != null and sortaccountid != ''">
     order by accountid
    </if>    
    <if test="sortisdefault != null and sortisdefault != ''">
     order by isdefault
    </if>
    <if test="sortreceiver != null and sortreceiver != ''">
     order by receiver
    </if>
    <if test="sorttype != null and sorttype != ''">
     order by type
    </if>
    <if test="iban != null and iban != ''">
     order by iban
    </if>
    <if test="sortorder =='desc'">
     desc
    </if>
    <if test="sortorder == 'asc'">
     asc
    </if>
<!--    	 limit #{pagenum,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER} -->
  </select>
  <select id="getUserBankCount" parameterType="com.calculatedfun.dto.UserBank" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 19 11:57:10 CST 2013.
    -->
    select count(*) from user_bank
   	where 1=1 
   	and delflag = '0'
   	<if test="userid != null and userid != ''">
   	    and userid = #{userid}
   	</if>
    <if test="location != null and location != ''">
   	    and location = #{location,jdbcType=VARCHAR}
   	</if>
    <if test="address != null and address != ''">
   	    and address = #{address,jdbcType=VARCHAR}
   	</if>
    <if test="bankname != null and bankname != ''">
   	    and bankname = #{bankname,jdbcType=VARCHAR}
   	</if>
   	<if test="accountid != null and accountid != ''">
   	    and accountid = #{accountid,jdbcType=VARCHAR}
   	</if>
   	<if test="isdefault != null and isdefault != ''">
   	    and isdefault = #{isdefault,jdbcType=CHAR}
   	</if>
   	<if test="receiver != null and receiver != ''">
   	    and receiver = #{receiver,jdbcType=VARCHAR}
   	</if>
   	<if test="type != null and type != ''">
   	    and type = #{type,jdbcType=CHAR}
   	</if>
   	<if test="delflag != null and delflag != ''">
   	    and delflag = #{delflag,jdbcType=CHAR}
   	</if>
   	<if test="iban != null and iban != ''">
   	    and iban = #{iban,jdbcType=CHAR}
   	</if>
  </select>
  <update id="delSelectedRow" parameterType="java.lang.String" >
    update user_bank 
    set delflag = '1'
    where id in 
  <foreach item="item" index="index" collection="scope"
    open="(" separator="," close=")">
    #{item}
  </foreach>
  </update>

  <update id="updateOldDefault" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 19 11:57:10 CST 2013.
    -->
    UPDATE user_bank 
    SET isdefault = '0' 
    WHERE isdefault = '1' 
    AND id != #{userBankId,jdbcType=VARCHAR}
    AND userid = #{userid,jdbcType=VARCHAR}
  </update>
    <update id="updateCurDefaultUserBank" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 19 11:57:10 CST 2013.
    -->
    UPDATE user_bank m  
    SET m.isdefault = '1'
    WHERE m.id = #{userBankId,jdbcType=VARCHAR}
  </update>
  <update id="updateDefaultUserBank" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 19 11:57:10 CST 2013.
    -->
    UPDATE user_bank m  
    SET m.isdefault = '0'
    WHERE m.isdefault = '1'
    and m.userid = #{userid,jdbcType=VARCHAR} 
  </update>
  <select id="validDefaultUserBankCount" resultType="java.lang.Integer" >
    SELECT COUNT(*) FROM user_bank 
    WHERE isdefault = '1' AND delflag = '0' 
  </select>
  <select id="getAllBank" resultType="com.calculatedfun.dto.SysBank">
	select id,ExtractValue(displayname, "//value[@lang='zh_CN']") as displayname from sys_bank
 </select>
 <select id="getCNBankname" resultType="java.lang.String">
	select ExtractValue(displayname, "//value[@lang='zh_CN']") as displayname 
	from sys_bank
	where id = #{bankname,jdbcType=VARCHAR}
 </select>
 <select id="checkBankNum" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM user_bank 
    WHERE 
    userid = #{id,jdbcType=VARCHAR} 
    AND accountid = #{num,jdbcType=VARCHAR}
    AND delflag = '0' 
 </select>
  <select id="checkInterBankNum" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM user_bank 
    WHERE 
    userid = #{id,jdbcType=VARCHAR} 
    AND iban = #{num,jdbcType=VARCHAR}
    AND delflag = '0' 
 </select>
</mapper>