<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.TaskSiteInfoMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="find" resultType="com.kaifantech.entity.TaskSiteFormMap">
		select *
		from ${@com.kaifantech.init.sys.dao.AppTables@TASK_SITE_INFO}
		where 1 = 1
		and delflag = 0
		<if test="delflag != null and delflag != ''">
		and delflag = 0
		</if>
		<if test="sitename != null and sitename != ''">
		and sitename = '${sitename}'
		</if>
		<if test="sitecode != null and sitecode != ''">
		and sitecode = '${sitecode}'
		</if>
		<if test="sitetype != null and sitetype != ''">
		and sitetype = '${sitetype}'
		</if>
		order by id 
	</select>

	<select id="findFuzzy" resultType="com.kaifantech.entity.TaskSiteFormMap">
		select *
		from ${@com.kaifantech.init.sys.dao.AppTables@TASK_SITE_INFO}
		where 1 = 1
		and delflag = 0
		<if test="delflag != null and delflag != ''">
		and delflag = 0
		</if>
		<if test="sitename != null and sitename != ''">
		and sitename like '${sitename}%'
		</if>
		<if test="sitetype != null and sitetype != ''">
		and sitetype = '${sitetype}'
		</if>
		order by id 
	</select>

	<select id="findAll" resultType="com.kaifantech.bean.tasksite.TaskSiteInfoBean">
		select *
		from ${@com.kaifantech.init.sys.dao.AppTables@TASK_SITE_INFO}
		where 1 = 1
		and delflag = 0
	</select>

	<insert id="add">
		insert into ${@com.kaifantech.init.sys.dao.AppTables@TASK_SITE_INFO}
		( 
		sitename,
		sitecode
		)
		value
		(
		#{sitename},
		#{sitecode}
		)
	</insert>

	<insert id="addBean" parameterType="com.kaifantech.bean.tasksite.TaskSiteInfoBean"  useGeneratedKeys="true" keyProperty="id" >
		insert into ${@com.kaifantech.init.sys.dao.AppTables@TASK_SITE_INFO}
		( 
		<if test="id != null and id != ''">
		id,
		</if>
		sitename,
		sitecode
		)
		value
		(
		<if test="id != null and id != ''">
		#{id},
		</if>
		#{sitename},
		#{sitecode}
		)
	</insert>
</mapper>