<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.agv.AgvMgrMapper">
	<select id="find" resultType="com.kaifantech.entity.agv.AgvMgrFormMap">
		select *
		from ${@com.kaifantech.init.sys.dao.AppTables@AGV_INFO}
		where 1 = 1
		and delflag = 0
	</select>

	<insert id="add">
		insert into ${@com.kaifantech.init.sys.dao.AppTables@AGV_INFO}
		(ip ,
		port
		)
		value
		(#{ip},
		#{port}
		)
	</insert>
</mapper>