<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.ArmactMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="findPage" resultType="com.kaifantech.entity.ArmactFormMap">
		select *
		from ${@com.kaifantech.init.sys.dao.AppTables@TASK_ARMACT_INFO}
		where 1 = 1
		<if test="delflag != null and delflag != ''">
		and delflag = 0
		</if>
		<if test="armactname != null and armactname != ''">
		and armactname like '%${armactname}%'
		</if>
		<if test="armactcode != null and armactcode != ''">
		and armactcode like '%${armactcode}%'
		</if>
		order by armactname 
	</select>

	<insert id="add">
		insert into ${@com.kaifantech.init.sys.dao.AppTables@TASK_ARMACT_INFO}
		( 
		armactname,
		armactcode
		)
		value
		(
		#{armactname},
		#{armactcode}
		)
	</insert>
</mapper>