<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.transfer.TransferMainMapper">

	<select id="findAllToIFS" resultType="com.kaifantech.entity.paper.TransferMainFormMap">
		SELECT *
		FROM ${@com.kaifantech.init.sys.dao.AppTables@WMS_TRANSFER_REQUEST_MAIN}
		WHERE(createtime> date_sub(NOW(), INTERVAL 2 DAY) OR updatetime> date_sub(NOW(), INTERVAL 2 DAY))
	</select>

</mapper>